<h1>{{ terms.stakeholder_requirements }}</h1>
<table>
<tbody>
<tr><th>ID</th><th>Requirement</th><th>Stakeholder</th></tr>
<tr><td>SR-1</td><td>Daily on-time delivery % by region and product category</td><td>Fulfilment Ops</td></tr>
<tr><td>SR-2</td><td>Average fulfilment time (order to delivery) trended weekly</td><td>Fulfilment Ops</td></tr>
<tr><td>SR-3</td><td>Backorder rate by product and supplier</td><td>Supply Chain</td></tr>
<tr><td>SR-4</td><td>Drill-down from region to an individual order</td><td>Customer Service</td></tr>
<tr><td>SR-5</td><td>Data refreshed by 6am local time each day</td><td>Fulfilment Ops</td></tr>
</tbody>
</table>
